<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%- body %>
    <footer>
      <a href="http://dreamerslab.com/" id="dreamerslab" target="_blank">DreamersLab</a>
    </footer>
  </body>
</html>