/* line 17, ../../../../../Users/fred/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Users/fred/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Users/fred/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Users/fred/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Users/fred/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Users/fred/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Users/fred/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Users/fred/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Users/fred/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/screen.sass */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 7, ../sass/screen.sass */
#page-title {
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  color: #666666;
  background-color: #f8f8f8;
  font-size: 32px;
  line-height: 1.35;
  padding: 20px 0;
  text-align: center;
  text-shadow: 0 1px 1px white;
}

/* line 17, ../sass/screen.sass */
.del-btn, .del-btn-edit {
  display: inline;
  float: right;
  background: url("/images/delete.png") no-repeat bottom left;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  width: 16px;
  height: 18px;
}

/* line 26, ../sass/screen.sass */
.del-btn-edit {
  width: 20px;
  height: 21px;
}

/* line 30, ../sass/screen.sass */
#list {
  width: 283px;
  margin: 0 auto;
  padding: 20px 0 0;
  position: relative;
}

/* line 36, ../sass/screen.sass */
.item, .item-new {
  overflow: hidden;
  *zoom: 1;
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  border-radius: 6px 6px 6px 6px;
  list-style: none outside none;
  margin: 6px 0 0;
  padding: 7px 9px;
  position: relative;
  text-shadow: 1px 1px 0 white;
  width: 250px;
}
/* line 47, ../sass/screen.sass */
.item:hover, .item-new:hover {
  border-color: #9be0f9;
  box-shadow: 0 0 5px #a6d5fd;
}

/* line 51, ../sass/screen.sass */
.item-new {
  padding: 4px 5px;
  width: 258px;
}

/* line 55, ../sass/screen.sass */
.input, .update-input {
  border: 1px solid #cccccc;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 3px 4px;
  width: 248px;
  height: 19px;
}

/* line 64, ../sass/screen.sass */
.content {
  color: #777777;
  font-size: 1.2em;
  text-shadow: 1px 1px 0 white;
}

/* line 69, ../sass/screen.sass */
.update-link {
  display: inline;
  float: left;
  color: #666666;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  max-width: 15em;
  text-overflow: ellipsis;
}
/* line 77, ../sass/screen.sass */
.update-link:hover {
  color: #333333;
}

/* line 80, ../sass/screen.sass */
.update-input {
  width: 215px;
}

/* line 83, ../sass/screen.sass */
.update-form {
  display: inline;
  float: left;
}

/* line 86, ../sass/screen.sass */
footer {
  overflow: hidden;
  *zoom: 1;
  width: 135px;
  margin: 0 auto;
  padding: 15px 0 0;
}

/* line 92, ../sass/screen.sass */
#dreamerslab {
  display: inline;
  float: left;
  text-decoration: none;
  background: url("/images/dreamerslab.png") no-repeat top left;
  padding: 0 0 3px 16px;
  color: #333333;
  text-decoration: underline;
  font-weight: bold;
}
